.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 20rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 2rem;
  margin: 0 auto
}
